@import "style";
.forms-container{
  margin:1rem 10rem ;
  h1{
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  hr{
    border: $border-light;
    margin:2rem 0 ;
  }
  .submit{
    padding:2rem 6rem;
    min-width: 30rem;
    display:block;
    margin:2rem auto ;
    font-size: large;
    background-color: $primary;
    border-radius: 2vh;
    transition: .2s linear;
    &:hover{
      box-shadow: 0 0 0 2px rgba($white, 1), 0 0 0  4px rgba($primary, 1);
      cursor: pointer;
    transition: .2s linear;

    }

  }
}
.personal-info {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(50rem,1fr)) ;
    grid-gap: 0.5rem;
    margin: 0 auto;
    .form-field{
      display:flex;
      flex-direction: column;
      &:focus-within{
        label{
          color:$primary;
        }
        input,textarea{
          border-color:$primary;
        }
      }
      label{
        font-size: 2rem;
      }
      input,textarea{
        border:$border-light;
        height:5rem;
        &::placeholder{
          font-size:1.5rem;
        }
      }
    }
  }
  
  @media (max-width:450px){
    .personal-info {
      grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;

    }
    .forms-container{
      h1{
        font-size:3rem;
      }
      .submit{
        min-width: 30rem;
        font-size: 2rem;
    }
  }
  }