@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

*::-moz-selection {
  background-color: #000;
  color: #ffcc0d;
}

*::selection {
  background-color: #000;
  color: #ffcc0d;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffcc0d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html body {
  overflow: hidden;
  transition: 0.2s linear !important;
}

.header {
  position: fixed;
  top: 0;
  left: -35rem;
  height: 100vh;
  background-color: #fff;
  border-right: 0.7rem solid #000;
  width: 35rem;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.2s linear !important;
  text-align: center;
}
.header #menu-btn {
  position: absolute;
  top: 0;
  right: -5.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 3rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.header .logo {
  text-transform: uppercase;
  border-bottom: 0.7rem solid #000;
  font-weight: bold;
  font-size: 4rem;
}
.header .navbar {
  width: 100%;
}
.header .navbar a {
  display: block;
  font-size: 2.5rem;
  padding: 1.5rem;
  margin: 0.5rem;
}
.header .navbar a .active, .header .navbar a:hover {
  background-color: #ffcc0d;
  color: #fff;
}
.header .follow a {
  font-size: 3rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.6s ease-in-out !important;
}
.header .follow a:hover {
  transform: rotate(360deg);
}

.h-active {
  left: 0;
}

.b-active {
  padding-left: 35rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .b-active {
    padding-left: 0;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .h-active {
    padding-top: 7rem;
  }
  #menu-btn.fa-times {
    right: 0;
  }
  .home .image img {
    width: 100%;
    height: auto;
  }
  .heading span {
    font-size: 4rem;
  }
  .about .biography .bio h3 {
    font-size: 2rem;
  }
}
.heading {
  margin-bottom: 3rem;
  text-align: center;
}
.heading span {
  text-transform: uppercase;
  font-size: 6.5rem;
  border-bottom: 0.7rem solid #000;
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  height: 65rem;
  padding: 2rem;
  border: 0.7rem solid #000;
}
.home .content {
  flex: 1 1 40rem;
}
.home .content h3 {
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
.home .content span {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffcc0d;
  font-size: 2rem;
  margin: 1rem;
}
.home .content p {
  font-size: 1.8rem;
  line-height: 2;
  padding: 1rem;
}
.home .content a {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 3rem;
  border: 0.3rem solid #000;
  font-size: 2rem;
}
.home .content a:hover {
  background-color: #000;
  color: #fff;
}

.about .biography p {
  margin: 1rem auto;
  max-width: 70rem;
  line-height: 1.5;
  font-size: 1.7rem;
}
.about .biography .bio {
  margin-top: 1rem;
}
.about .biography .bio h3 {
  padding: 1rem 1.5rem;
  display: inline-block;
  margin: 1rem;
  background-color: #eee;
  border: 0.3rem solid #000;
  word-break: break-all;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: none;
}
.about .biography .bio h3 span {
  font-weight: lighter;
}
.about .biography a {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 3rem;
  border: 0.3rem solid #000;
  font-size: 2rem;
}
.about .biography a:hover {
  background-color: #000;
  color: #fff;
}
.about .skills {
  margin: 3rem 0;
}
.about .skills .progress {
  margin-top: 1rem;
}
.about .skills h3 {
  padding: 1rem 1.5rem;
  display: inline-block;
  margin: 1rem;
  background-color: #ffcc0d;
  word-break: break-all;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: none;
}
.about .skills h3 span {
  font-weight: lighter;
  color: #000;
}
.about .edu-exp .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .edu-exp .row .box-container {
  flex: 1 1 40rem;
}
.about .edu-exp .row .box-container .box {
  text-align: left;
  margin: 1.5rem 0;
  background-color: #eee;
  padding: 2rem;
}
.about .edu-exp .row .box-container .box span {
  font-size: 1.5rem;
}
.about .edu-exp .row .box-container .box h3 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 1rem;
}
.about .edu-exp .row .box-container .box p {
  line-height: 2;
  font-size: 1.7rem;
}
.about .edu-exp .row .box-container .title {
  padding: 1.5rem;
  font-size: 2rem;
  background-color: #ffcc0d;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}
.services .box-container .box {
  padding: 3rem 2rem;
  border: 0.3rem solid #000;
}
.services .box-container .box p {
  line-height: 2;
  font-size: 1.7rem;
}
.services .box-container .box i {
  font-size: 6rem;
  margin-bottom: 0.5rem;
}
.services .box-container .box h3 {
  margin: 1rem 0;
  font-size: 2rem;
  padding: 1rem;
  background-color: #ffcc0d;
}
.services .box-container .box:hover {
  background-color: #000;
}
.services .box-container .box:hover i, .services .box-container .box:hover p {
  color: #fff;
}/*# sourceMappingURL=portfolio.css.map */